.border-box-4{
           margin-top:20pt;
           background:green;
           border:2pt solid;
           border-top-left-radius:10px;
           border-top-right-radius:10px;
           border-bottom-left-radius:20px;
           border-bottom-right-radius:20px;
}